
body {
 margin: 40px 0;
 color: #333;
 background:#775D42;
 padding:0;
 font: 0.86em/1.6 Arial, Helvetica, sans-serif;
 }

a:link {
color: #775D42;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: #775D42;
}
a:hover {
text-decoration: none;
color: #fff;
}
a:active {
text-decoration: none;
color: #775D42;
}

h1 {
 font-size: 1.5em;
}

h2 {
 font-size: 1.3em;
}

#outer {
 width: 1024px;
 margin: 0 auto;
 background: #fff url(images/bg.gif) repeat-y;
 }

/*#hdr {
 padding-top: 275px;
 background: #fff url(images/headerlogo.jpg) no-repeat;
 }*/

#hdr h1 {
 color: #fff;
 background:#B7734B;
 font-size: 1.5em;
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;
 margin: 0;
 padding: 1em;
 border:solid #000000;	
 border-width:1px 0 1px 0;
 }

#nav {
 float:left;
 width:130px;
 padding: 1em;
 text-align: center;
 background: url(images/divider.gif) no-repeat bottom center;
 padding-bottom: 30px;
}
#nav ul {
 background: url(images/divider.gif) no-repeat top center;
 margin: 0;
 padding: 30px 0 0 0;
 list-style: none;
}
#nav li {
	margin: 0;
}
#nav h2 {

}

#cont {
 float: left;
 width:820px;
 padding: 1.5em;
 }
#cont h2 {
 color: rgb(153, 102, 51);
}

#ftr {
 clear: both;
 color: #fff;
 background:#B7734B;
 font-size: 0.8em;
 text-align: center;
 border-top: 1px solid #000;
 margin: 1em 0 0 0;
 }

#leftImg
{
float:left;
width: 300px;
height: 190px;
padding: 0 5px 5px 0;
}

#rightImg
{
float:right;
width: 300px;
height: 190px;
padding: 0 0 5px 5px;
}

.slider-box
{
    width: 1024px;
    height: 302px;
    margin: 0 auto;
    overflow: hidden;
}
.slider
{
    position: relative;
    width: 10000px;
    height: 320px;
}
.slider img
{
    float: left;
    z-index: 0;
}

.txtbox {
    width: 100px;
    padding: 2px;
}

.button {
    border-color: green;
    background-color: sandybrown;
    padding: 3px 3px;
    font-size: 13px;
}
